{% extends 'base.html.twig' %}

{% block title %}Infopasazer{% endblock %}

{% block body %}
<div>
    Pokaż:
    <ul>
        <li>JSON:
           <ul>
                <li>Wszystkie przyjazdy dla stacji</li>
                <li>Wszystkie odjazdy dla stacji</li>
                <li>Najbliższy odjazd dla stacji (bez uzwgl. opóźnienia)</li>
                <li>Najbliższy przyjazd dla stacji (bez uwzgl. opóźnienia)</li>
                <li>Najbliższy odjazd dla stacji (z uzwgl. opóźnienia)</li>
                <li>Najbliższy przyjazd dla stacji (z uwzgl. opóźnienia)</li>
            </ul>
        </li>
       <li>Tekst sformatowany:
        <ul>
            <li>Jako tablica przyjazdów</li>
            <li>Jako tablica odjazdów</li>
            <li>Jako tablica z najbliższym pociągiem</li>
            <li>Zwykły tekst z zapowiedzią pociągu</li>
        </ul>
       </li>
    </ul>
</div>
{% endblock %}
