{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<p>Changelog:
<ul>
    <li>22.10.2019: dodanie pogrubionych stacji i (podstawowej) obsługi Arial Unicode MS</li>
</ul>TODO:
    <ul>
        <li>Rozkład jazdy a'la PLK</li>
    </ul>
</p>
{% endblock %}
