{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<ul>
    <li>
        <a href="/ztr">Tablice relacyjne</a>
    </li>
    <li>
        <a href="/infopasazer">API dla infopasażera z przykładami użycia</a>
    </li>
    <li>
        Baza historii zajętości miejsc w pociągach PKPIC (chwilowo niedostępna)
    </li>
    <li>
        <a href="/distance">Oblicz dystans między stacjami kolejowymi (projekt w fazie eksperymentalnej)</a>
    </li>
</ul>
    <a href="https://buycoffee.to/teslax93" target="_blank"><img src="https://buycoffee.to/btn/buycoffeeto-btn-primary-outline.svg" style="width: 150px" alt="Postaw mi kawę na buycoffee.to"></a>
{% endblock %}
