{% extends 'base.html.twig' %}

{% block title %}KalkulatorKolejowy.pl{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>KalkulatorKolejowy.pl</h1>
            </div>
        </div>
        <div class="row">
           <div class="col-6 text-center">
               <img src="{{ asset('svg/tablice.svg') }}" class="img-fluid rounded w-25" alt="Tablice relacyjne"/><br />
               <a href="/ztr">Tablice relacyjne (BETA)</a>
           </div>
            <div class="col-6 text-center">
                <img src="{{ asset('img/geog.png') }}" class="img-fluid rounded" style="width: 15%;" alt="GeoGuessr" /><br />
                <a href="https://www.geoguessr.com/pl/maps/61f14797c24ced00015b4629">GeoGuessr - stacje kolejowe</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-center">
                <img src="{{ asset('svg/api.svg') }}"  class="img-fluid rounded w-25" alt="API"/><br />
                <a href="/bilkom">API Bilkom - opóźnienia pociągów (BETA)</a>
            </div>
            <div class="col-6 text-center">
                <img src="{{ asset('svg/distance.svg') }}" class="img-fluid rounded w-25" alt="Obliczanie dystansu"/><br />
                <a href="/distance">Oblicz dystans między stacjami kolejowymi (też BETA)</a>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p style="font-size: x-small;">Ta strona wykorzystuje pliki cookies, które umieszczone są tutaj po to, by Google Analytics miał jakąś rozrywkę ze zbierania statystyk. Jeżeli nie chcesz być częścią tych statystyk, skonfiguruj przeglądarkę tak, aby ciasteczek nie zapisywała. Dasz radę.</p>
                <hr />
                <a href="https://buycoffee.to/teslax93" target="_blank"><img src="https://buycoffee.to/btn/buycoffeeto-btn-primary-outline.svg" style="width: 150px" alt="Postaw mi kawę na buycoffee.to"></a>
            </div>
        </div>
    </div>
{% endblock %}
