{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<ul>
    <li>
        <a href="/ztr">Tablice relacyjne</a>
    </li>
    <li>
        <s><a href="/infopasazer">API dla infopasażera z przykładami użycia</a></s> wyłączony przez PKP IC 06.23
    </li>
    <li>
        API Bilkom - opóźnienia pociągów (experimental, WIP)
    </li>
    <li>
        <a href="/distance">Oblicz dystans między stacjami kolejowymi (projekt w fazie eksperymentalnej)</a>
    </li>
</ul>
    <a href="https://buycoffee.to/teslax93" target="_blank"><img src="https://buycoffee.to/btn/buycoffeeto-btn-primary-outline.svg" style="width: 150px" alt="Postaw mi kawę na buycoffee.to"></a>
{% endblock %}
