<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background-color: black;
            color: yellow;
            font-family: Arial, sans-serif;
        }

    </style>
</head>
<body>
<div class="topTable">
    <h1>Odjazdy <i>Departures</i></h1>
</div>
<div class="contentTable">
    <table>
        <tr>
            <th>Czas</th>
            <th>Pociąg</th>
            <th>Do</th>
            <th>Przez</th>
            <th>Przewoźnik</th>
            <th>Peron</th>
            <th>Uwagi</th>
        </tr>
        <tr>
            <th>Time</th>
            <th>Train</th>
            <th>Destination</th>
            <th>Via</th>
            <th>Operator</th>
            <th>Platform</th>
            <th>Remarks</th>
        </tr>
    </table>
</div>
</body>
</html>